<mat-form-field [appearance]="appearance">
  <mat-label *ngIf="label != null">
    {{label}}
  </mat-label>
  <input #inp matInput
         [matAutocomplete]="auto"
         [formControl]="countryFormControl"
         (focusout)="onSelect()"
         (click)="inp.select()"
  />
  <mat-autocomplete #auto="matAutocomplete" (closed)="onSelect()"
                    (optionSelected)="selectCountry($event.option.value); onSelect()">
    <mat-option *ngFor="let country of filteredOptions | async" [value]="country">
      {{country.Country}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>





