<div class="text-center">
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="mt-2">COVID-19</h1>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/covid19-ft-eurecom.appspot.com/o/icon.svg?alt=media">
  </div>
  <h3 class="text-black-50">Live update and statistics</h3>
</div>


<div>

  <div class="list-group-item-dark p-2 text-center my-4 mat-elevation-z2" *ngIf="country != null && country.Slug != null">
    <a appLoadRouterLink="/">Worldwide</a>
    -> {{country.Country}}
  </div>

  <app-section [title]="'Corona Virus Summary '+countryDisplayName()" class="mat-elevation-z8">
    <app-coviddata-table [dataSource]="summaryTableObservable"></app-coviddata-table>
  </app-section>

  <app-section [title]="'Latest news about COVID-19 '+countryDisplayName()">
    <div class="newsDiv" [class]="{'full': listing.newsData != null && listing.newsData.length > 0}">
      <app-news-listing #listing [countrySlugObservable]="slugData"></app-news-listing>
    </div>

  </app-section>

  <app-section [title]="'Corona Virus Cases Distribution '+countryDisplayName()">
    <app-pie-chart [dataSource]="pieChartData" [labels]="pieChartLabels"></app-pie-chart>
  </app-section>

  <app-section [title]="'Daily Corona Virus Cases '+countryDisplayName()">
    <app-daily-bar-chart [dataSource]="diffDataSource"></app-daily-bar-chart>
  </app-section>

  <app-section [title]="'Total Corona Virus Cases '+countryDisplayName()">
    <app-daily-line-chart [dataSource]="dataSource"></app-daily-line-chart>
  </app-section>

  <ng-content></ng-content>

  <div class="p-2 mb-3 px-md-0">
    <div class="foot-box text-center p-2 mat-elevation-z2">
      Data sources:<br>
      <a href="https://covid19api.com/" target="_blank">COVID-19 API / Johns Hopkins CSSE</a><br>
      <a href="https://disease.sh" target="_blank">disease.sh - Open Disease Data</a>
    </div>

  </div>
</div>


